{% extends "base.html" %} {% block content %}

<br />

{# renders the post #}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    <h2>{{ post.title }}</h2>
    <small>By: {{ post.owner_user.name }} <br>
        {{ post.date_posted }} | {{ post.slug }} </small> <br><br>
    {{ post.content }}

    <br><br>

</div>

{% if post.user_id == current_user.id %}
<a href="{{url_for('post_routes.edit_post',id=post.id)}}" class="btn btn-outline-secondary">
    Edit Post
</a>

<a href="{{url_for('post_routes.delete_post',id=post.id)}}" class="btn btn-outline-danger">
    Delete Post
</a>
{% endif %}

<a href="{{url_for('post_routes.posts')}}" class="btn btn-outline-secondary">
    Back to blog
</a>

{% endblock %}