h1 {
    color: darkblue;
    font-size: 2rem;
}

body {
    background-color: blanchedalmond;
}

#demo {
    font-size: .7rem;
}

#unique {
    overflow-x: scroll;
    width: 1300px;
    display: block;
    text-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
}