{% extends "base.html" %}

{% block content %} {# flash message #}

<br>

{% if user %} {# renders the page after the post of the form #}

<h1>Email: {{ user.email }}</h1>
<h1>Password: {{ password }}</h1>

<br>
<br>

<p>Name: {{ user.name }}</p>

<p><span id="unique">PW: {{ user.password_hash }}</span></p>
<br>
<p>Passed: {{ passed }}</p>

{% else %} {# renders the form #}

<h1>What's Your Email and Password?</h1>
<br />
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br />
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-secondary")}}
</form>

{% endif %}

{% endblock %}