{% extends "base.html" %} {% block content %} {# flash message #}

<br />

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    message
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


{% if name %} {# renders the page after the post of the form #}

<h1>User updated!!</h1>

<br />
<br /><br />

{% else %} {# renders the form #}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>What's Your New Name?</h1>
    <br />

    <form action="{{ url_for('update', id=record.id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control",value=record.name) }}
        <br />
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control",value=record.email) }}
        <br />
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control",value=record.favorite_color) }}
        <br />
        {{ form.submit(class="btn btn-secondary")}}
        <a href="{{ url_for('delete_user',id=record.id) }}" class="btn btn-danger">delete</a>
    </form>

</div>
<br /><br />

{% endif %}


<br /><br /><br /><br />

{% endblock %}