{% extends "base.html" %}

{% block content %}

<br />

{# flash message #}
{% include "flashed_message.html" %}


{% if name %}
{# renders the page after the post of the form #}

<h1>User added!!</h1>

<br />
<br /><br />

{% else %}
{# renders the form #}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>What's Your Name?</h1>
    <br />

    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br />
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        <br />
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br />
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control") }}
        <br />
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br />
        {{ form.password_confirmation.label(class="form-label") }}
        {{ form.password_confirmation(class="form-control") }}
        <br />
        {{ form.submit(class="btn btn-secondary")}}
    </form>

</div>
<br /><br />

{% endif %}

{% include "user_table.html" %}

<br /><br /><br /><br />

{% endblock %}