{% extends "base.html" %}

{% block content %}


<br />

{# flash message #}
{% include "flashed_message.html" %}



{# renders the form #}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    {% if post %}

    <h1>Edit Blog Post...</h1>

    {% else %}

    <h1>Add Blog Post...</h1>

    {% endif %}
    <br />

    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control",value=post.title) }}
        <br />
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control",value=post.author) }}
        <br />
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control",value=post.slug) }}
        <br />
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control",rows="5",value=post.content) }}

        <br />
        {{ form.submit(class="btn btn-secondary")}}
        <br>
        <br>
    </form>

</div>
<a href="{{url_for('post_routes.posts')}}" class="btn btn-outline-secondary">
    Back to blog
</a>

<br><br><br>

{% endblock %}