{% extends "base.html" %} {% block content %}


<br />

{# flash message #}
{% include "flashed_message.html" %}

<h1>Blog Posts...</h1>
<br>


{# renders the posts #}
{% for post in posts %}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

    <h2>{{ post.title }}</h2>
    <small>By: {{ post.author }} <br>
        {{ post.date_posted }} | {{ post.slug }} </small> <br>
    {{ post.content }}
    <br>
    <br>

    <a href="{{url_for('post_routes.post',id=post.id)}}" class="btn btn-outline-secondary">
        View Post
    </a>

    <a href="{{url_for('post_routes.edit_post',id=post.id)}}" class="btn btn-outline-secondary">
        Edit Post
    </a>

</div>


{% endfor %}


{% endblock %}