<table class="table table-hover table-bordered table-striped">
    {% for our_user in our_users %}
    <tr>
        <td>
            {{ our_user.id }}.
            <a href="{{ url_for('update',id=our_user.id) }}">{{ our_user.name }}</a> -
            {{ our_user.email }} -
            {{ our_user.favorite_color }} - <a href="{{ url_for('delete_user',id=our_user.id) }}">delete</a>
            <span id="unique">PW: {{ our_user.password_hash }}</span>
        </td>
    </tr>
    {% endfor %}
</table>